<div class="center hero-unit">
<h1 class="logo">Movie Marathon Helper</h1>
<p>Welcome to Movie Marathon Helper, come here to make managing your movie marathons a breeze!</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-inverse" %>
</div>