<% provide(:title, 'Marathoners') %>
<div class="hero-unit">
	<h1>The brave. The strong. The Marathon Men</h1>
	<div class="row-fluid center">
		<div class="span4 offset4">
		<%= will_paginate %>
		<ul class="users">
			<%= render @users %>
		</ul>
		<%= will_paginate %>
		</div>
	</div>
</div>