<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span5">
	<div class="hero-unit center">
		<section>
			<h1><%= @user.name %></h1>
		</section>
	</div>
	</aside>
	<div class="span7">
		<div class="hero-unit center">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, mauris sed scelerisque dignissim, turpis eros interdum mi, id dapibus felis magna vitae tellus. Donec dolor nulla, porttitor vitae ullamcorper a, egestas ut arcu. Duis pulvinar auctor tincidunt. Pellentesque tempus arcu odio. Maecenas varius est nec ante dapibus varius. Nam varius interdum nibh, vel tempus tellus vulputate sit amet. Morbi ac neque quis orci accumsan lobortis tincidunt non turpis. Pellentesque ac pellentesque orci. Vestibulum pretium nisl a velit volutpat tempor. Suspendisse potenti. Ut ipsum sapien, dignissim eget aliquam eu, luctus nec enim. Sed nulla nibh, bibendum at fringilla quis, egestas quis eros. Quisque convallis tellus sit amet lacus gravida eget placerat mi dictum.</p>
		</div>
	</div>
</div>