@import "bootstrap";

$darkGray: #312E3D;
$lightYellow: #E2DEB9;
$strongYellow: #DDD66F;
$strongRed: #9E4B46;
$violet: #55233E;

/* sidebar */

.stats {
  overflow: auto;
  a {
    /*float: left;*/
    padding: 0 10px;
    border-left: 1px solid $lightYellow;
    color: $strongYellow;
    text-shadow: 2px 2px #000;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }
}

h1, h2, h3, h4, h5, h6,dt {
  color: $strongYellow;
  text-shadow: 2px 2px #000;
}

a {
  color: orange;
  &:hover{
    text-decoration: none;
    color: red;
  }
}
.pagination{
  a{
    color: black;
  }
}

em {
  color: $lightYellow;
}

body {
	padding-top: 60px;
	background: url(./black-Linen.png) repeat 0 0 ;
}

.no_margin *{
    margin-bottom: 0!important;
}

.info-box {

  background-color: $strongRed;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
p, small {
	color: $lightYellow;
	text-align: center;
}
dd {
  color: $lightYellow;
}

.center {
	text-align: center;
}

.tablerow {
  background-color: $lightYellow;
}

footer {
	border-top: 1px solid $strongYellow;
}

.logo {
	font-family: 'Butcherman', cursive;
}

.hero-unit {
	background: url(./low_contrast_line.png) repeat 0 0;

	h1 {
		font-family: 'Butcherman', cursive;
		text-align: center;
    margin-bottom: 10px;
		color: $strongYellow;
	}
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Alerts */

#error_explanation {
  color: #333333;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  text-shadow: 1px 1px #000;
 }
/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    /*border-top: 1px solid $strongYellow;*/
    &:last-child {
      /*border-bottom: 1px solid $strongYellow;*/
    }
  }
  @include box_sizing;
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  color: $lightYellow;
  display: block;
}

.thumbnail {
  background-color: $strongRed;
}

.timestamp {
  color: $violet;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}