@import "bootstrap";

$darkGray: #312E3D;
$lightYellow: #E2DEB9;
$strongYellow: #DDD66F;
$strongRed: #9E4B46;
body {
	padding-top: 60px;
	background-color: $darkGray;
}

p, small {
	color: $lightYellow;
	text-align: center;
}

.center {
	text-align: center;
}

footer {
	border-top: 1px solid $strongYellow;
}

.logo {
	font-family: 'Butcherman', cursive;
}

.hero-unit {
	background-color: $strongRed;

	h1 {
		font-family: 'Butcherman', cursive;
		text-align: center;
		color: $strongYellow;
	}
}
